.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  
  .sticky {
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar ul li {
    margin-right: 1rem;
  }
  
  .navbar ul li a {
    color: #333333;
    text-decoration: none;
  }
  
  .parallax {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/images/intro.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  
  
  
